.grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(220px,1fr));

gap:25px;

}

.card-buku{

background:#fff;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.12);

cursor:pointer;

transition:.25s;

}

.card-buku:hover{

transform:translateY(-8px);

}

.cover-buku{

width:100%;

height:300px;

object-fit:cover;

display:block;

}

.info-buku{

padding:15px;

text-align:center;

}

.info-buku h3{

margin-bottom:8px;

font-size:20px;

}

.info-buku p{

margin-bottom:12px;

font-size:15px;

}

.badge{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:bold;

color:#fff;

}

.badge.spreadsheet{

background:#16a34a;

}

.badge.folder{

background:#2563eb;

}

.badge.pdf{

background:#dc2626;

}